/* .home-page {
    min-height: 100vh;
}

.offcanvas {
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .home-page {
        padding-top: 70px;
    }
    .post-card {
        margin-bottom: 15px;
    }
} */

.home-page {
    width: 100%;
    min-height: 100vh;
}

.container, .container-fluid {
    max-width: 100% !important;
    padding-left: 15px;
    padding-right: 15px;
}